*~
*.swp
*.kate-swp
bin/
.classpath
.directory
.metadata/
.settings/
.project

.gradle/
build/
classes/
*.iws
*.ipr
*.iml
out/
.idea
/.sonar
build
logs
_Deparsed_XSubs.pm
gradlew.bat

.DS_Store
.attach_pid*
gradle.properties
