<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="10">

  <Properties>
    <Property name="PATTERN">[%d{HH:mm:ss.SSS}] [%t] %-5level %logger ~ %msg%n</Property>
  </Properties>

  <Appenders>
    <Console name="CONSOLE_AP" target="SYSTEM_OUT">
      <PatternLayout pattern="${PATTERN}"/>
    </Console>

  </Appenders>
  <Loggers>

    <Root level="info" includeLocation="false">
      <AppenderRef ref="CONSOLE_AP"/>
    </Root>

    <Logger name="contra.dal" level="debug" />
    <Logger name="com.zaxxer.hikari" level="debug" />

  </Loggers>
</Configuration>